.navigationContainer {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 0.1em 0.25em;
}

.subNavigationContainer {
	display: flex;
	justify-content: center;
	gap: 7px;
	padding: 0.5em 0.25em;
	height: 1.5em;
}

.navElement {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navElement span {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.navElementLarge {
	padding: 10px 15px;
	border-radius: 5px;
}

.navElementSmall {
	padding: 5px 5px;
	border-radius: 3px;
}

.navElement:hover {
	background-color: #0056b3;
}

.navElementActive {
	background-color: #007338; 
	color: #ffffff;
}

.navElementActive:hover {
	background-color: #00a651;
}

@media (max-width: 600px) {
	.navigationContainer {
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		padding: 0.5em 0.5em;
	}

	.navElement,
	.navElementActive {
		width: 100%;
		box-sizing: border-box;
		justify-content: flex-start;
	}
}

